<!--The content below is only a placeholder and can be replaced.-->
<div class="mainDiv">
  <div class="headerDiv">
      <div class="logo"> <header>LOGO</header></div>
      <div class="menuDiv">
      <a routerLink="home">HOME</a> |  <a routerLink="aboutUs">ABOUT US</a> | 
            <a routerLink="contact">CONTACT</a> 
      </div>
  </div>
  <router-outlet></router-outlet>
 <!-- •  The router-outlet directive is used to specify 
      the location where we want the routed component's 
      view template to be displayed
    -->
</div>

